<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ConbinatorikaRazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Лаб1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="l2">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Лаб2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="l3">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Лаб3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="l4">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Лаб4
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="l5">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Лаб5
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="l6">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Лаб6
            </NavLink>
        </div>
    </nav>
</div>
